# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore apache sepcific files
**/.htaccess

# ignore drupal specific stuff
config-backup/test*

# waterinneu inventory import exclusions
sites/all/modules/n52_migrate_waterinneu/csv_files/
sites/all/modules/n52_migrate_waterinneu/csv_files/tmp
